<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs template</title>
</head>
<body>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio adipisci vel facilis quisquam, nobis rerum corrupti veniam eius velit iusto illum repellat, sit sapiente ab delectus unde magni dolorum facere.
      Maiores quis voluptatum in dolores, debitis deserunt sit? Libero ducimus sit minima quae ab praesentium assumenda facilis modi porro tempora sunt fuga eligendi explicabo doloribus, in perspiciatis, velit omnis consectetur.
      Error minima perferendis, vero harum deserunt quibusdam explicabo eius debitis, inventore distinctio rerum numquam itaque laudantium iusto qui quae ex alias sapiente eaque voluptatem aspernatur veniam! Quo veritatis consequuntur soluta.</p>
      <button>click me</button>
</body>
</html>